*{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    align-items: center;
    padding: 5px 22px;
    justify-content: space-between;
}

nav .link{
    color: black;
    align-items: center;
    display: flex;
}
.burger{margin-right: 20px;}

.logo{ flex: 1;}

.logo a{
    display: flex;
    align-items: center;
    
}

.nav_links{
    display: none;
}

/* ayaw sa tailwind amp! */
/* this will make the ul hidden */  
@media (min-width: 1024px){
    .nav_links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
   }

.nav_links li{
    padding: 15px 10px;
    font-size: larger;
    font-weight: 500;
}

.btn{border-radius: 0px 40px 0px 40px;}

.beans{
    width: auto;
    rotate: 180deg;
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu{display: flex;}

.menu li{padding-left: 30px;}

.menu li a{
    transition: 0.15s ease-in-out;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: medium;
}

.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #067741;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.menu li a:hover::after{width: 100%;}



