@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
  background-color: brown;
}

nav{
    display: flex;
    align-items: center;
    padding: 5px 22px;
    justify-content: space-between;
}

nav .link{
    color: black;
    align-items: center;
    display: flex;
}

.burger{margin-right: 20px;}

.logo{ flex: 1;}

.logo a{
    display: flex;
    align-items: center;
    
}

.nav_links{
    display: flex;
    align-items: center;
}

.nav_links li{
    padding: 15px 10px;
    font-size: larger;
    font-weight: 500;
}

.btn{border-radius: 0px 40px 0px 40px;}

.beans{
    width: auto;
    rotate: 180deg;
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu{display: flex;}

.menu li{padding-left: 30px;}

.menu li a{
    transition: 0.15s ease-in-out;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: rgb(148, 66, 66);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.menu li a:hover::after{width: 100%;}

/* coffee Beans */
@media only screen and (max-width: 1025px) {
    .coffee-bean {
       display: none;
     }

     .splash {
      display: none;
     }
   }

.coffee-bean {
    position: absolute;
    width: 50px; /* adjust the size of the coffee bean image */
    height: 50px;
    transform: translate(-50%, -50%);
    z-index: 1; /* make sure the beans are on top of the main content */
  }

/* Left side beans */
  .coffee-bean:nth-child(1) {
    top: 20%;
    left: 13%;
    rotate: 100deg;
    width: 150px;
    height: 150px;
    animation: rotate-animation 10s infinite linear;
  }
  
  .coffee-bean:nth-child(2) {
    top: 40%;
    left: 0;
    width: 120px;
    height: 120px;
  }
  
  .coffee-bean:nth-child(3) {
    top: 90%;
    left: 8%;
    rotate: 45deg;
    width: 100px;
    height: 100px;
  }
  
  .coffee-bean:nth-child(4) {
    top: 200%;
    left: 15%;
    rotate: 120deg;
    width: 120px;
    height: 120px;
    animation: rotate-animation2 10s infinite linear;
  }

  .coffee-bean:nth-child(5) {
    top: 100%;
    left: 0;
    rotate: -90deg;
    width: 120px;
    height: 120px;
    animation: rotate-animation 10s infinite linear;
  }
  
  .coffee-bean:nth-child(6) {
    top: 200%;
    left: 0;
    rotate: 120deg;
    width: 120px;
    height: 120px;
  }

/* Right side beans */
  .coffee-bean:nth-child(7) {
    top: -50%;
    right: 23%;
    rotate: 200deg;
    width: 150px;
    height: 150px;
    animation: rotate-animation2 10s infinite linear;
  } 
  
  .coffee-bean:nth-child(8) {
    top: 50%;
    right: 2%;
    rotate: 100deg;
    width: 120px;
    height: 120px;
    animation: rotate-animation2 10s infinite linear;
  }
  
  .coffee-bean:nth-child(9) {
    top: 120%;
    right: 10%;
    rotate: 90deg;
    width: 150px;
    height: 150px;
    animation: rotate-animation 10s infinite linear;
  }
  
  .coffee-bean:nth-child(10) {
    top: 100%;
    right: 20%;
    rotate: 45deg;
    width: 120px;
    height: 120px;
  }

  .coffee-bean:nth-child(11) {
    top: 240%;
    right: 15%;
    rotate: 45deg;
    width: 100px;
    height: 100px;
  }

  .coffee-bean:nth-child(12) {
    top: 240%;
    right: 10%;
    rotate: 180deg;
    width: 120px;   
    height: 120px;
  }
  
  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-animation2 {
    0% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  /* Review Cards */
  .gallery{
    width: 90%;
    display: flex;
    overflow-x: scroll;
  }

  .gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    padding: 20px;
    flex: none;
  }

  .gallery div img{
    width: 100%;
  }

  /* para mawala yung scrollbar */
  .gallery::-webkit-scrollbar{
    display: none;
  }

  .gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
  }

  #backBtn, #nextBtn{
    cursor: pointer;
    margin: 10px;
  }




